@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout-content section {
    padding: 16px 48px;
}

@media screen and (max-width: 768px) {
    .ant-layout-header {
        padding: 0 24px !important;
    }

    .ant-layout-footer {
        padding: 24px !important;
    }
}
